div.margin-top:empty {
    margin-top: 0;
}

/* Info boxes */
.ui-info-box {
    display: flex;
    align-items: center;

    margin-block-end: 0.9em;

    padding: 12px 14px;
    
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-05);

    border-radius: 3px;
}

.ui-info-box p {
    margin: 8px 0;
}

.ui-info-box ul {
    margin: 4px 0;
    padding-inline-start: 30px;
}

.ui-info-box.bigger-margin > .icon {
    margin-right: 18px;
}

.ui-info-box > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    width: 26px;
    height: 26px;

    margin-right: 12px;

    color: inherit;
    font-size: 12px;

    background-color: var(--color-blue2-transparent-1);
    border-radius: 50%;
}

.ui-info-box > .text {
    font-size: 13px;
    color: inherit;
    font-family: "Roboto";
}

.ui-info-box > .text a[href] {
    text-decoration: underline;
}

.ui-info-box > .text a[href]:hover {
    text-decoration: none;
}

.ui-info-box.c-green {
    color: var(--color-green-darker);
    background-color: var(--color-green-transparent-05);
}

.ui-info-box.c-green > .icon {
    background-color: var(--color-green-transparent-1);
}

.ui-info-box.c-red {
    color: var(--color-red);
    background-color: var(--color-red-transparent-05);
}

.ui-info-box.c-red > .icon {
    background-color: var(--color-red-transparent-1);
}

.ui-info-box.c-orange {
    color: var(--color-orange-darker);
    background-color: var(--color-orange-transparent-05);
}

.ui-info-box.c-orange > .icon {
    color: var(--color-orange);
    background-color: var(--color-orange-transparent-2);
}

.ui-form-box .ui-info-box {
    padding: 8px 12px !important;

    margin-left: 15px;
    margin-right: 15px;
}

.ui-form-box .ui-info-box > .icon {
    margin-right: 10px;
}

/* Form containers */
.ui-form-spacer-thin {
    height: 1px;
    
    margin: 15px 25px;
    
    background-color: var(--color-gray3)
}

.ui-form-box {
    position: relative;

    padding-bottom: 15px;

    margin-block-end: 1.5em;

    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;

    transition: all 0s, opacity 0.33s, margin 0.1s;
}

.ui-form-box.margin-top {
    margin-top: 15px;
}

.ui-form-box.collapsed > div {
    display: none !important;
}

.ui-form-box.collapsed > .form-top {
    display: block !important;
    margin: 0;
}

.ui-form-box.collapsed > .form-top > .description {
    display: none;
}

.ui-form-box.collapsed {
    padding: 0;
}

.ui-form-box:not(.no-title) > * {
    box-sizing: border-box;

    padding-left: 15px;
    padding-right: 15px;
}

.ui-form-box.no-title {
    padding: 15px 20px;
}

.ui-form-box.hidden {
    height: 0;
    
    margin: 0;
    padding: 0;

    opacity: 0;

    overflow: hidden;
    border: none;

    pointer-events: none;
}

.ui-form-box > .form-top {
    padding: 8px 9px 8px 15px;
    margin-bottom: 15px;
    
    background-color: hsl(0, 0%, 98%);
}

.ui-form-box > .form-top > .title {
    display: flex;
    justify-content: space-between;

    width: 100%;

    color: hsl(0, 0%, 4%);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.ui-form-box > .form-top > .description {
    margin-top: 8px;

    color: hsl(0, 0%, 40%);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

@keyframes formbox-highlighted {
    0% {
        color: var(--color-red);
    }
    50% {
        color: #ffa300;
    }
}

@keyframes formbox-highlighted-w-bkg {
    0% {
        color: var(--color-red);
        background-color: rgba(255, 110, 0, 0.08);
    }
    50% {
        color: #ffa300;
        background-color: rgba(255, 110, 0, 0.08);
    }
    100% {
        background-color: hsl(0, 0%, 98%);
    }
}

.ui-form-box > .form-top.highlighted .form-label::before,
.ui-form-box > .form-top.highlighted {
    animation: formbox-highlighted-w-bkg 3s ease-out running;
}

.ui-form-box > .form-top.highlighted .right-side > .button {
    animation: formbox-highlighted 3s ease-out running;
}

.ui-form-box > .form-top > .title > .form-label {
    position: relative;

    margin-left: 22px;
}

.ui-form-box > .form-top > .title > .form-label::before {
    display: block;
    position: absolute;

    left: 0;

    margin-left: -27px;
    padding: 0 3px 0 4px;

    content: '//';
    
    color: hsl(0, 0%, 80%);
    font-weight: 700;

    border-radius: 3px;
}

.ui-form-box > .form-top > .title > .right-side {
    display: flex;
}

.ui-form-box > .form-top > .title > .right-side > .button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 14px;
    margin-left: 8px;

    cursor: pointer;

    color: hsl(0, 0%, 40%);
    font-size: 12px;
    text-decoration: none;
}

.ui-form-box > .form-top > .title > .right-side > .button:hover {
    color: hsl(0, 0%, 25%);
}

.ui-form-box > .form-top > .title > .right-side > .button.collapse i {
    transform: rotate(0deg);
    
    transition: transform 0.15s;
}

.ui-form-box.collapsed > .form-top > .title > .right-side > .button.collapse i {
    transform: rotate(180deg);
}

.ui-form-container {
    display: flex;
    align-items: center;
}

.ui-form-container.align-start {
    align-items: flex-start;
}

.ui-form-container.column {
    flex-direction: column;
    align-items: flex-start;
}

.ui-form-container.column-reverse {
    flex-direction: column-reverse;
    align-items: flex-start;
}

.ui-form-container.column .ui-text:not(:last-child),
.ui-form-container.column-reverse .ui-text:not(:last-child) {
    margin-bottom: 3px;
}

.ui-form-container:not(.no-margin):not(:last-child) {
    margin-bottom: 8px;
}

.ui-input-box.margin-top,
.ui-form-container.margin-top {
    margin-top: 15px;
}

.ui-input-box.margin-bottom,
.ui-text.margin-bottom,
.ui-form-container.margin-bottom {
    margin-bottom: 15px;
}

.ui-input-box.margin-top,
.ui-text.margin-top,
.ui-form-container.margin-top {
    margin-top: 15px;
}

.ui-form-container.center {
    justify-content: center;
}

.ui-form-container.right {
    justify-content: flex-end;

    width: 100%;
}

.ui-form-container.between {
    justify-content: space-between;
}

.ui-form-container ul {
    margin: 8px 0 0 0;   
}

.ui-logs-container > .info-message > i {
    margin-right: 4px;

    color: hsl(0, 0%, 25%);
    font-size: 14px;
}

.ui-keyvalue-container {
    display: block;
}

.ui-keyvalue-container > .spacer {
    margin: 14px 0;
}

.ui-keyvalue-container > .item {
    display: flex;
    align-items: center;

    margin-bottom: 5px;

    font-family: "Roboto", sans-serif;
}

.ui-keyvalue-container > .item:last-child {
    margin-bottom: 0;
}

.ui-keyvalue-container > .item > .key {
    width: 180px;
    flex-shrink: 0;

    margin-right: 5px;

    color: hsl(0, 0%, 40%);
    font-weight: 500;
    text-align: right;
}

.ui-keyvalue-container > .item > .value {
    width: 100%;

    margin-left: 5px;
}

.ui-keyvalue-container > .item > .value.ui-text {
    font-family: "Roboto", sans-serif;
}

.ui-form-spacer {
    height: 18px;
}

.ui-input-box {
    position: relative;
    width: 100%;
}

/* Text */
.ui-text {
    color: hsl(0, 0%, 10%);
    font-family: "Open sans", sans-serif;
    font-size: 14px;    
}

.ui-text.roboto {
    font-family: "Roboto", sans-serif;
}

.ui-text.monospace {
    font-family: monospace !important;
}

.ui-text.small {
    font-size: 12px;
}

.ui-text.gray,
.ui-text .gray {
    color: hsl(0, 0%, 45%);
}

/* Bold */
b.ui-text,
.ui-text.b,
.ui-text b {
    font-weight: 600;
}

/* Italics */
.ui-text.i {
    font-style: italic;
}

a.ui-text[href],
.ui-text a[href] {
    color: var(--color-blue3);
    text-decoration: none;

    transition: 0.1s;
}

a.ui-text[href]:hover,
.ui-text a[href]:hover {
    text-decoration: underline;
}

a.ui-text[href]:focus:not(:hover),
.ui-text a[href]:focus:not(:hover) {
    padding: 0 4px;

    outline: none;
    background-color: var(--color-blue2-transparent-1);
    border-radius: 3px;
}

.ui-text.w-icon {
    display: flex;
    align-items: center;
}

.ui-text.w-icon > .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12px;

    margin-right: 7px;

    color: var(--color-green);
    font-size: 12px;
    /* background-color: rgba(12, 207, 0, 0.1); */
}

.ui-text.w-icon > .icon.red {
    color: var(--color-red);
    /* background-color: rgba(232, 32, 0, 0.1); */
}

.ui-text.w-icon > .icon.orange {
    color: var(--color-orange);
    /* background-color: rgba(255, 163, 0, 0.1); */
}

.ui-text.w-icon > .icon.blue {
    color: var(--color-blue-lighter);
}

.ui-text.w-icon > .text {
    color: hsl(0, 0%, 15%);
    font-family: "Roboto", sans-serif;
}

.ui-code {
    margin: 0 3px;
    padding: 1px 3px;
    
    border-radius: 2px;
    background-color: hsl(0, 0%, 95%);
}

/* Popups input boxes */
.ui-input-box > .popup {
    position: absolute;
    z-index: 1;

    bottom: 0;
    margin-bottom: -40px;

    box-sizing: border-box;

    width: 100%;

    padding: 8px 12px;

    color: rgba(255, 255, 255, 0.92);
    font-size: 12px;

    border-radius: 5px;
    background-color: var(--color-red);

    box-shadow: 0 2px 5px rgba(232, 32, 0, 0.25);

    transition: 0.2s;

    /* Hidden state */
    pointer-events: none;
    opacity: 0;
    
    transform: translateY(5px);
}

.ui-input-box > .popup::before {
    position: absolute;
    left: 50%;
    top: -5px;

    margin-left: -5px;

    display: block;
    content: '';

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--color-red);
}

.ui-input-box > .popup.shown {
    pointer-events: all;
    opacity: 1;
    
    transform: translateY(0);
}

/* Checkboxes */
.ui-checkbox-1 {
    display: flex;
    align-items: center;

    width: fit-content;

    cursor: pointer;
}

/* TODO create a ui-margin-top */
.ui-checkbox-1.margin-top {
    margin-top: 15px;
}

.ui-checkbox-1.second-level {
    margin-left: 29px;
}

.ui-checkbox-1 > .checkbox {
    margin: 4px 8px 4px 0;
    
    width: 20px;
    height: 20px;
    
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;

    transition: all 0.2s, visibility 0s;
}

.ui-checkbox-1.small > .checkbox {
    width: 15px;
    height: 15px;
}

.ui-checkbox-1.small > .text {
    font-size: 12px;
}

.ui-checkbox-1.disabled {
    pointer-events: none;
}

.ui-checkbox-1.disabled > .checkbox {
    border: 1px solid rgb(190, 190, 190) !important;
    background-color: rgb(190, 190, 190) !important;
}

.ui-checkbox-1:hover > .checkbox {
    border: 1px solid rgb(140, 140, 140);
}

.ui-checkbox-1[data-checked=true] > .checkbox > .check path {
    fill: #fff;
}

.ui-checkbox-1[data-checked=true] > .checkbox {
    border: 1px solid var(--color-blue2);
    background-color: var(--color-blue2);
}

.ui-checkbox-1[data-checked=true]:hover > .checkbox {
    border: 1px solid hsl(228, 100%, 55%);
    background-color: hsl(228, 100%, 55%);
}

.ui-checkbox-1.red[data-checked=true] > .checkbox {
    border: 1px solid hsl(8, 100%, 45%);
    background-color: hsl(8, 100%, 45%);
}

.ui-checkbox-1.red[data-checked=true]:hover > .checkbox {
    border: 1px solid hsl(8, 100%, 55%);
    background-color: hsl(8, 100%, 55%);
}

.ui-checkbox-1 > .text {
    font-size: 14px;
}

/* Array input */
.ui-input-array1 {
    position: relative;
    display: flex;

    overflow: hidden;
    cursor: text;

    width: 100%;
    min-height: 33px;

    box-sizing: border-box;

    padding: 6px;

    background-color: white;

    box-shadow: inset 0 0 0 1px var(--color-gray4);
    border-radius: 3px;
}

.ui-input-array1[disabled],
.ui-input-array1.disabled {
    pointer-events: none;

    background-color: var(--color-gray);
    filter: grayscale(1);
}

.ui-input-array1[disabled] > input,
.ui-input-array1.disabled > input {
    display: none;
}

.ui-input-array1[disabled] > .items,
.ui-input-array1.disabled > .items {
    width: 100%;
}

.ui-input-array1 > input {
    min-width: 180px;

    margin-right: 64px;

    outline: none;
    border: 0;

    background-color: transparent;
}

.ui-input-array1 > .items {
    display: flex;
    flex-wrap: wrap;
}

.ui-input-array1 > .items > div {
    margin-right: 5px;
    padding: 2px 6px;

    user-select: none;

    cursor: pointer;
    white-space: nowrap;

    font-size: 12.5px;

    border-radius: 3px;

    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-1);

    transition: 0.1s;
}

.ui-input-array1 > .items > div::before {
    display: inline;
    content: '';

    font-family: monospace;
}

.ui-input-array1 > .items > div:hover::before {
    content: '-';
}

.ui-input-array1 > .items > div:hover {
    color: var(--color-red);
    background-color: var(--color-red-transparent-1);

    opacity: 0.75;
}

.ui-input-array1 > .buttons {
    position: absolute;
    height: 33px;

    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid var(--color-gray3);
    border-bottom: 1px solid var(--color-gray3);

    margin-left: 4px;
}

.ui-input-array1 > .buttons > div {
    box-sizing: border-box;

    width: 32px;
    padding: 11px;

    cursor: pointer;

    color: var(--color-blue);

    transition: 0.1s;
}

.ui-input-array1 > .buttons > div > i {
    font-size: 10px;
}

.ui-input-array1 > .buttons > div.red {
    color: var(--color-red);
}

.ui-input-array1 > .buttons > div:hover {
    background-color: var(--color-blue2-transparent-1);
}

.ui-input-array1 > .buttons > div.red:hover {
    background-color: var(--color-red-transparent-1);
}

/* Dropdown */
.ui-input-dropdown1 {
    position: relative;

    width: 100%;

    box-shadow: inset 0 0 0 1px var(--color-gray4);
    border-radius: 3px;
 
    transition: 0.15s;
}

.ui-input-dropdown1:hover {
    background-color: rgb(252, 252, 252);
    box-shadow: inset 0 0 0 1px var(--color-gray5);
}

.ui-input-dropdown1[editable]:hover {
    background-color: unset;
    box-shadow: inset 0 0 0 1px var(--color-gray4);
}

.ui-input-dropdown1[data-open="true"] {
    border-radius: 3px 3px 0 0;
}

.ui-input-dropdown1 > .arrow-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    pointer-events: none;

    height: 32px;
    width: 34px;

    cursor: pointer;

    padding-top: 1px;

    top: 0;
    right: 0;

    font-size: 12px;
    color: hsl(0, 0%, 30%);

    border-radius: 0 3px 3px 0;
}

.ui-input-dropdown1[editable] > .arrow-icon {
    pointer-events: all;
    box-shadow: inset 1px 0 0 var(--color-gray4);
}

.ui-input-dropdown1 > .arrow-icon:hover {
    background-color: rgb(248, 248, 248);
    box-shadow: inset 0 0 0 1px var(--color-gray4);
}

.ui-input-dropdown1:hover > .arrow-icon {
    transform: translateY(1px);
}

.ui-input-dropdown1[editable]:hover > .arrow-icon {
    transform: translateY(0);
}

.ui-input-dropdown1[data-open="true"] > .arrow-icon > i {
    transform: rotate(-180deg) translateY(1px) !important;
}

.ui-input-dropdown1 > input {
    box-sizing: border-box;
    
    height: 32px;
    width: 100%;
    
    padding: 7px 11px;
    
    outline: none;
    cursor: pointer;
    
    color: black;
    font-family: "Open Sans";
    font-size: 13px;
    
    border: 0;
    background-color: transparent;
}

.ui-input-dropdown1[editable] > input {
    cursor: unset;
}

.ui-input-dropdown1 > .choices {
    position: absolute;
    z-index: 99999;

    overflow: hidden;

    display: none; /* Hidden state */
    flex-direction: column;

    overflow-y: auto;

    width: calc(100% - 2px);
    max-height: 50vh;

    background-color: white;

    border: 1px solid var(--color-gray4);
    border-radius: 0 0 3px 3px;
    border-top: 0;

    box-shadow: 0 4px 10px rgba(0,0,0,0.033);
}

.ui-input-dropdown1[data-open="true"] > .choices {
    display: flex;
}

.ui-input-dropdown1 > .choices > .text {
    position: absolute;

    top: 0;
    right: 0;

    pointer-events: none;

    padding: 8px 10px;

    font-size: 12px;

    opacity: 0.7;
}

.ui-input-dropdown1 > .choices > .text > i {
    margin-right: 3px;
}

.ui-input-dropdown1 > .choices > .choice {
    padding: 7px 10px;

    cursor: pointer;

    font-size: 13px;

    transition: 0.15s;
}

.ui-input-dropdown1 > .choices > .choice:hover {
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-05);
}

.ui-input-dropdown1 > .choices > .choice[data-selected="true"] {
    font-weight: 600;

    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-1);
}

/* .ui-input-dropdown1 > .choices > .choice[data-selected="true"]:hover {
    color: var(--color-red);
    background-color: var(--color-red-transparent-05);
} */

/* Inputs */
.ui-input1 {
    outline: none;

    width: 100%;

    border: 0;
    border-radius: 3px;

    box-shadow: inset 0 0 0 1px var(--color-gray4);

    padding: 7px 11px;

    font-family: "Open Sans";
    font-size: 13px;

    transition: all 0.2s, width 0s, height 0s;
}

.ui-input1::-webkit-outer-spin-button,
.ui-input1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-input1[type=number] {
  -moz-appearance: textfield;
}

.ui-input1[disabled],
.ui-input1.disabled {
    background-color: var(--color-gray2);

    pointer-events: none;
}

.ui-input1.small {
    padding: 5px 8px;

    font-size: 12px;
}

.ui-input1.monospace {
    font-family: monospace;
}

.ui-input1.roboto-mono {
    font-family: "Roboto Mono", monospace;
}

.ui-input1[data-invalid=true],
.ui-input1.small[data-invalid=true]:focus {
    box-shadow: inset 0 0 0 1px var(--color-red);
}

.ui-input1:focus {
    box-shadow: inset 0 0 0 2px var(--color-blue);
}

.ui-input1.small:focus {
    box-shadow: inset 0 0 0 1px var(--color-blue);
}

.ui-input1[data-invalid=true]:focus {
    box-shadow: inset 0 0 0 2px var(--color-red);
}

/* Names for input boxes */
.ui-input-name1 {
    margin: 0 0 2px 2px;

    word-break: break-word;

    color: hsl(0, 0%, 55%);
    font-size: 12px;
    font-weight: 400;
}

/* Buttons */
.ui-button1 {
    padding: 8px 13px;

    border: 0;
    border-radius: 3px;

    background-color: white;
    /* box-shadow: 0 0 4px 0 rgb(215, 215, 215); */
    /* box-shadow: 0 1px 3px 0 rgb(210 210 210); */
    box-shadow: 0 0 3px 0 rgb(210 210 210);

    outline: none;

    user-select: none;
    cursor: pointer;

    color: hsl(0, 0%, 20%);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 13px;

    transition: 0.1s;
}

.ui-button1 > i.far,
.ui-button1 > i.fas {
    font-size: 12px;
    margin-right: 4px;
}

.ui-button1 > i.far.r,
.ui-button1 > i.fas.r {
    margin-right: 0px;
    margin-left: 4px;
}

.ui-button1.s-small {
    padding: 5px 10px;

    font-weight: 500;
    font-size: 12px;
}

.ui-button1.w-500 {
    font-weight: 500;
}

.ui-button1:hover {
    color: hsl(0, 0%, 5%);

    background-color: rgb(242, 242, 242);
    box-shadow: 0 0 0px 0 rgb(220, 220, 220);
}

.ui-button1:active {
    transition: 0s;

    background-color: rgb(220, 220, 220);
}

.ui-button1.disabled {
    pointer-events: none;
    
    color: hsl(0, 0%, 50%) !important;

    background-color: rgb(250, 250, 250);
    box-shadow: none;
}

.ui-button1.toggled {
    color: rgba(255, 255, 255, 0.975);

    box-shadow: 0 0 0 1px var(--color-blue2);
    background-color: var(--color-blue2);
}

.ui-button1.toggled:focus,
.ui-button1.toggled:hover {
    box-shadow: 0 0 0 1px hsl(228, 100%, 55%);
    background-color: hsl(228, 100%, 55%);
}

/* Types */
.ui-button1.t-frameless {
    box-shadow: none;
    background-color: transparent;
}

.ui-button1.t-frameless:focus,
.ui-button1.t-frameless:hover {
    box-shadow: 0 0 0 1px rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
}

.ui-button1.t-frameless:active {
    box-shadow: 0 0 0 1px rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
}

.ui-button1.t-frameless.disabled {
    color: hsl(0, 0%, 50%) !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Additional styles */
.ui-button1.c-blue {
    color: var(--color-blue-lighter);
}

.ui-button1.c-blue.t-frameless:focus,
.ui-button1.c-blue.t-frameless:hover {
    box-shadow: 0 0 0 1px var(--color-blue2-transparent-1);
    background-color: var(--color-blue2-transparent-1);
}

.ui-button1.c-blue.t-frameless:active {
    box-shadow: 0 0 0 1px var(--color-blue2-transparent-2);
    background-color: var(--color-blue2-transparent-2);
}

.ui-button1.c-red.t-frameless:focus,
.ui-button1.c-red.t-frameless:hover {
    box-shadow: 0 0 0 1px var(--color-red-transparent-1);
    background-color: var(--color-red-transparent-1);
}

.ui-button1.c-red.t-frameless:active {
    box-shadow: 0 0 0 1px var(--color-red-transparent-2);
    background-color: var(--color-red-transparent-2);
}

.ui-button1.c-red {
    color: var(--color-red);
}

.ui-button1.low-emp {
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-1);
}

/* Log item */
.ui-log-item {
    position: relative;

    box-sizing: border-box;

    width: 100%;
    padding: 5px;

    overflow: hidden;
    cursor: pointer;

    color: hsl(0, 0%, 10%);
    font-size: 14px;

    border-left: 0px solid var(--color-blue-lighter);
    border-radius: 2px;

    transition: border-left 0.15s;
}

.ui-log-item.selected {
    background-color: var(--color-blue2-transparent-05) !important;
    border-left: 4px solid var(--color-blue-lighter) !important;

    border-radius: 0;
}

.ui-log-item:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.025);
}

.ui-log-item.selected:hover {
    background-color: var(--color-blue2-transparent-1) !important;
}

.ui-log-item .time {
    display: inline-flex;
    align-items: center;

    padding: 4px 9px;
    
    cursor: help;

    color: hsl(0, 0%, 35%);
    font-size: 12px;

    background-color: rgba(0,0,0,0.025);
    border-radius: 4px;
}

.ui-log-item .time > i {
    margin-right: 8px;

    width: 13px;
    text-align: center;
}

.ui-log-item:hover .time {
    background-color: rgba(0,0,0,0.05);
}

.ui-log-item.selected .time {
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-05);
}

.ui-log-item a[href]:visited,
.ui-log-item a[href] {
    color: var(--color-blue2);

    text-decoration: none;
}

.ui-log-item a[href]:hover {
    text-decoration: underline;
}

.ui-log-item code + code {
    margin-inline-start: 6px;
}

.ui-log-item .summary {
    font-style: italic;
}

/* Revisions */
.ui-revision-item {
    position: relative;

    box-sizing: border-box;

    width: 100%;
    padding: 3px;

    overflow: hidden;

    color: hsl(0, 0%, 10%);
    font-size: 14px;
}

.ui-revision-item > * {
    vertical-align: middle;
}

.ui-revision-item > .buttons {
    display: inline-flex;
}

.ui-revision-item > .buttons > .button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    margin-right: 2px;
    
    cursor: pointer;

    color: hsl(0, 0%, 25%);
    font-size: 10px;

    background-color: rgba(0,0,0,0.025);
    border-radius: 4px;

    transition: 0.15s;
}

.ui-revision-item > .buttons > .button > i {
    pointer-events: none;
}

.ui-revision-item > .buttons > .button:hover {
    color: hsl(0, 0%, 15%);
    background-color: rgba(0,0,0,0.08);
}

.ui-revision-item > .buttons > .button:last-child {
    margin-right: 0;
}

.ui-revision-item > .ui-checkbox-1 {
    display: inline-flex;
    margin: 4px 0;
}

.ui-revision-item > .ui-checkbox-1 > .checkbox {
    margin: 0 8px 0 0;
}

.ui-revision-item > .links {
    margin: 0 2px;
}

.ui-revision-item .links-root > span {
    cursor: pointer;
    color: var(--color-blue);
}

.ui-revision-item .links-root > span:hover {
    text-decoration: underline;
}

.ui-revision-item .time {
    display: inline-flex;
    align-items: center;

    padding: 4px 9px;
    
    color: hsl(0, 0%, 35%);
    font-size: 12px;

    background-color: rgba(0,0,0,0.025);
    border-radius: 4px;
}

.ui-revision-item .time > i {
    margin-right: 5px;
}

.ui-revision-item a[href]:visited,
.ui-revision-item a[href] {
    color: var(--color-blue2);

    text-decoration: none;
}

.ui-revision-item a[href]:hover {
    text-decoration: underline;
}

.ui-revision-item code {
    font-family: monospace;
}

.ui-revision-item code + code {
    margin-inline-start: 6px;
}

.ui-revision-item .summary {
    font-style: italic;
}

.ui-revision-item .hidden {
    color: hsl(0, 0%, 45%);
}

/* Tables */
table.ui-table {
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
}

table.ui-table.no-vertical th,
table.ui-table.no-vertical td {
    border-right: 0;
    border-left: 0;
}

table.ui-table th {
    padding: 12px 8px;

    color: black;
    text-align: left;
    background-color: var(--color-gray);

    color: hsl(0, 0%, 42%);
    font-size: 13px;
    font-weight: 700;

    border: 1px solid var(--color-gray3);
}

table.ui-table td {
    padding: 8px;

    font-size: 14px;

    border: 1px solid var(--color-gray3);
}

/* Systempage */
.ui-systempage-content-container {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;

    min-width: 720px;
    max-width: 1800px;

    margin: 0 auto;
    padding: 35px;
}

.ui-systempage-content-container > .ui-systempage-main-content {
    width: 100%;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right {
    margin-left: 15px;

    width: 280px;

    flex-shrink: 0;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar {
    box-sizing: border-box;
    
    width: 100%;

    padding: 12px;

    font-family: "Roboto", sans-serif;

    border: 1px solid var(--color-gray2);
    border-radius: 3px;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar .heading {
    margin: 18px 0 6px 2px;

    color: hsl(0, 0%, 40%);
    font-weight: 600;
    font-size: 13px;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar .heading:first-of-type {
    margin-top: 0;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .spacer {
    margin: 16px auto;

    height: 1px;
    width: 90%;

    background-color: var(--color-gray3);
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .spacer.invisible {
    margin: 5px 0;

    background-color: transparent;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link {
    display: block;
    
    padding: 6px 10px 6px 6px;
    margin-top: 2px;

    user-select: none;
    cursor: pointer;

    color: hsl(0, 0%, 20%);
    font-size: 13px;
    font-weight: 400;

    text-decoration: none;

    border-radius: 3px;

    transition: 0.1s;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link.disabled {
    cursor: not-allowed;

    color: hsl(0, 0%, 50%);
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link.disabled > i,
.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link.disabled:hover > i {
    color: hsl(0, 0%, 50%) !important;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link.disabled:hover {
    color: hsl(0, 0%, 50%) !important;
    background-color: rgba(0, 0, 0, 0.033) !important;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link:first-of-type {
    margin-top: 0;
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link:hover {
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-1);
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link.red:hover {
    color: var(--color-red);
    background-color: var(--color-red-transparent-05);
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link > i {
    text-align: center;

    width: 24px;
    
    margin-right: 2px;

    color: hsl(0, 0%, 22%);
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link:hover > i {
    color: var(--color-blue3);
}

.ui-systempage-content-container > .ui-systempage-sidebar-right > .sidebar > .links > .link.red:hover > i {
    color: var(--color-red);
}

/* Systempage header box */
.ui-systempage-header-box {
    padding: 20px 30px;

    background-color: hsl(0, 0%, 98%);
}

.ui-systempage-header-box > .title-container {
    display: flex;
    align-items: center;
}

.ui-systempage-header-box > .title-container > .title {
    color: hsl(0, 0%, 8%);
    font-size: 18px;
    font-weight: 700;
}

.ui-systempage-header-box > .title-container > .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    margin-right: 12px;

    color: hsl(0, 0%, 22%);
    font-size: 24px;
}

.ui-systempage-header-box > .text {
    margin-top: 5px;

    color: hsl(0, 0%, 50%);
    font-size: 12px;
    font-weight: 400;
}

.ui-systempage-header-box > .tags {
    display: flex;
    
    margin-top: 10px;
}

.ui-systempage-header-box > .tags > .item {
    margin-right: 5px;

    padding: 2px 7px;

    color: var(--color-blue3);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    
    background-color: var(--color-blue2-transparent-1);

    border-radius: 3px;
}

.ui-systempage-header-box > .tags > .item[title] {
    cursor: help;
}

.ui-systempage-header-box > .tags > .item[href] {
    cursor: pointer !important;
}

.ui-systempage-header-box > .tags > .item[href]:hover {
    background-color: var(--color-blue2-transparent-2);
}

.ui-systempage-header-box > .tags > .item.c-green {
    color: var(--color-green);
    background-color: var(--color-green-transparent-1);
}

.ui-systempage-header-box > .tags > .item.c-red {
    color: var(--color-red);
    background-color: var(--color-red-transparent-1);
}

.ui-systempage-header-box > .tags > .item.c-orange {
    color: var(--color-orange);
    background-color: var(--color-orange-transparent-1);
}

.ui-systempage-header-box > .tags > .item i {
    margin-right: 2px;
}

.ui-systempage-breadcrumbs {
    display: flex;
    align-items: center;

    padding: 8px 33px;

    background-color: var(--color-gray15);
    border-bottom: 1px solid var(--color-gray3);
}

.ui-systempage-breadcrumbs > .separator {
    color: hsl(0, 0%, 60%);
    font-size: 8px;

    margin: 0 10px;
}

.ui-systempage-breadcrumbs > .item {
    display: block;

    text-decoration: none;

    color: hsl(0, 0%, 12%);
    font-size: 11px;
    font-weight: 600;
}

.ui-systempage-breadcrumbs > .item[href]:hover {
    text-decoration: underline;
}

.ui-systempage-breadcrumbs > .item > i {
    color: hsl(0, 0%, 22%);
    margin-right: 5px;
}

/* Context menu */
.ui-contextmenu-container {
    position: relative;
}

.ui-contextmenu-container > .ui-contextmenu {
    position: absolute;
    z-index: 11;

    /* Hidden state */
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-6px);

    padding: 5px 0;

    top: 100%;
    right: 0;

    margin-top: 10px;

    background-color: white;
    border-radius: 3px;

    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

    transition: 0.15s;
}

.ui-contextmenu-container > .ui-contextmenu[shown] {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    
    transform: translateY(0px);
}

.ui-contextmenu-container > .ui-contextmenu-tip {
    position: absolute;

    /* Hidden state */
    opacity: 0;
    transform: translateY(5px);

    pointer-events: none;

    top: 0;
    right: 0;

    margin-top: -12px;
    margin-right: -26px;

    font-size: 10px;
    color: hsl(0, 0%, 80%);

    transition: 0.2s;
}

.ui-contextmenu-container > .ui-contextmenu-tip > i {
    transition: 0.2s;
}

.ui-contextmenu-container:hover > .ui-contextmenu-tip {
    opacity: 1;
    transform: translateY(0px);
}

.ui-contextmenu-container:hover > .ui-contextmenu-tip > i {
    margin: 0 2px;
}

.ui-contextmenu-container > .ui-contextmenu > .links > .link {
    display: block;

    padding: 6px 20px 6px 18px;
    margin: 1px 0;

    cursor: pointer;

    color: hsl(0, 0%, 18%);
    font-size: 13px;
    text-decoration: none;

    white-space: nowrap;

    transition: 0.1s;
}

.ui-contextmenu-container > .ui-contextmenu > .links > .link:hover {
    background-color: var(--color-gray15);
    color: hsl(0, 0%, 0%);
}

.ui-contextmenu-container > .ui-contextmenu > .links > .link.c-red:hover {
    color: var(--color-red);
    background-color: var(--color-red-transparent-05);
}

.ui-contextmenu-container > .ui-contextmenu > .links > .link > i {
    width: 16px;
    text-align: center;

    margin-right: 12px;
}

/* Popups */
.ui-popup {
    position: fixed;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    top: 50%;
    left: 50%;

    font-family: "Roboto", sans-serif;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.ui-popup > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 14px;
}

.ui-popup > .top > .title-container {
    margin-left: 8px;

    font-size: 16px;
    font-weight: 500;
}

.ui-popup > .top > .buttons-container {
    display: flex;
    align-items: center;
}

.ui-popup > .top > .buttons-container > .button-close {
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: pointer;

    width: 32px;
    height: 32px;

    color: hsl(0, 0%, 20%);
    font-size: 14px;

    background-color: hsl(0, 0%, 96%);
    border-radius: 50%;

    transition: 0.1s;
}

.ui-popup > .top > .buttons-container > .button-close:hover {
    color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 90%);
}

.ui-popup > .middle {
    padding: 4px 22px;

    font-size: 14px;
}

.ui-popup > .middle > .body p:first-child {
    margin-top: 0;
}

.ui-popup > .middle > .body p:last-child {
    margin-bottom: 0;
}

.ui-popup > .middle > .body form {
    margin-block-end: 0;
}

.ui-popup > .middle .popup-step {
    /* Hidden state */
    display: none;
}

.ui-popup > .middle .popup-step[shown] {
    display: block;
}

.ui-popup > .bottom {
    padding: 14px;
}

.ui-popup > .bottom > .buttons-container {
    display: flex;
    justify-content: space-between;
}

.ui-popup > .bottom > .buttons-container > .left,
.ui-popup > .bottom > .buttons-container > .right {
    display: flex;
}

/* Notifications */
@keyframes ui-notification-show {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.ui-notification {
    min-width: 250px;
    max-width: 360px;
    width: 20vw;

    margin-top: 10px;

    font-family: "Roboto", sans-serif;

    cursor: pointer;

    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    animation: ui-notification-show 0.25s ease-in-out;
    animation-play-state: running;
    transition: 0.15s;
}

.ui-notification:hover {
    background-color: hsl(0, 0%, 99%);
    transform: translateX(-5px);
}

.ui-notification > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 13px 13px 7px 14px;
}

.ui-notification > .top > .title-container {
    color: hsl(0, 0%, 12%);
    font-weight: 600;
    font-size: 14px;
}

.ui-notification > .top .status {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    background-color: rgba(12, 207, 0, 0.1);
    color: var(--color-green);

    border-radius: 50%;

    font-size: 8px;
}

.ui-notification > .top .status.red {
    color: var(--color-red);
    background-color: var(--color-red-transparent-05);
}

.ui-notification > .top .progress-ring {
    position: absolute;
}

.ui-notification > .top .progress-ring-circle {
    stroke-dasharray: 62.83185307179586 62.83185307179586;

    transform: rotate(-90deg);
    transform-origin: 50% 50%;

    transition: 6s stroke-dashoffset linear;
}

.ui-notification > .top .progress-ring-circle.error {
    transition: 12s stroke-dashoffset linear;
}

.ui-notification > .middle {
    margin: 7px 13px 13px 14px;
    font-size: 14px;
}

/* Undefined system messages */
.ede-undefined-sysmsg {
    color: inherit !important;
}

.ede-undefined-sysmsg:hover {
    color: var(--color-blue-lighter) !important;
    background-color: var(--color-blue2-transparent-05);
}