/* Form containers */
.ui-form-box {
    position: relative;

    padding-bottom: 15px;

    margin-block-end: 1.5em;

    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;

    transition: all 0s, opacity 0.33s, margin 0.1s;
}

.ui-form-box.collapsed > div {
    display: none;
}

.ui-form-box.collapsed > .form-top {
    display: flex;
    margin: 0;
}

.ui-form-box.collapsed {
    padding: 0;
}

.ui-form-box:not(.no-title) > * {
    box-sizing: border-box;

    padding-left: 15px;
    padding-right: 15px;
}

.ui-form-box.no-title {
    padding: 15px 20px;
}

/* TODO remove in the future, replace with on-screen notifications */
.ui-form-box.green {
    padding: 15px;

    border: none;
    background-color: rgba(0, 232, 23, 0.05);
}

.ui-form-box.red {
    padding: 15px;

    border: none;
    background-color: rgba(232, 32, 0, 0.05);
}

.ui-form-box.hidden {
    height: 0;
    
    margin: 0;
    padding: 0;

    opacity: 0;

    overflow: hidden;
    border: none;

    pointer-events: none;
}

.ui-form-box > .form-top {
    display: flex;
    justify-content: space-between;

    padding: 8px 9px 8px 15px;
    margin-bottom: 15px;

    color: hsl(0, 0%, 4%);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    
    background-color: hsl(0, 0%, 98%);
}

@keyframes formbox-highlighted {
    0% {
        color: var(--color-red);
    }
    50% {
        color: #ffa300;
    }
}

@keyframes formbox-highlighted-w-bkg {
    0% {
        color: var(--color-red);
        background-color: rgba(255, 110, 0, 0.08);
    }
    50% {
        color: #ffa300;
        background-color: rgba(255, 110, 0, 0.08);
    }
    100% {
        background-color: hsl(0, 0%, 98%);
    }
}

.ui-form-box > .form-top.highlighted > .form-label::before,
.ui-form-box > .form-top.highlighted {
    animation: formbox-highlighted-w-bkg 3s ease-out running;
}

.ui-form-box > .form-top.highlighted > .right-side > .button {
    animation: formbox-highlighted 3s ease-out running;
}

.ui-form-box > .form-top > .form-label {
    position: relative;

    margin-left: 22px;
}

.ui-form-box > .form-top > .form-label::before {
    display: block;
    position: absolute;

    left: 0;

    margin-left: -27px;
    padding: 0 3px 0 4px;

    content: '//';
    
    color: hsl(0, 0%, 80%);
    font-weight: 700;

    border-radius: 3px;
}

.ui-form-box > .form-top > .right-side {
    display: flex;
}

.ui-form-box > .form-top > .right-side > .button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 14px;
    margin-left: 8px;

    cursor: pointer;

    color: hsl(0, 0%, 40%);
    font-size: 12px;
    text-decoration: none;
}

.ui-form-box > .form-top > .right-side > .button:hover {
    color: hsl(0, 0%, 25%);
}

.ui-form-box > .form-top > .right-side > .button.collapse i {
    transform: rotate(0deg);
    
    transition: transform 0.15s;
}

.ui-form-box.collapsed > .form-top > .right-side > .button.collapse i {
    transform: rotate(180deg);
}

.ui-form-container {
    display: flex;
    align-items: center;
}

.ui-form-container.align-start {
    align-items: flex-start;
}

.ui-form-container.column {
    flex-direction: column;
    align-items: flex-start;
}

.ui-form-container.column-reverse {
    flex-direction: column-reverse;
    align-items: flex-start;
}

.ui-form-container.column .ui-text:not(:last-child),
.ui-form-container.column-reverse .ui-text:not(:last-child) {
    margin-bottom: 3px;
}

.ui-form-container:not(.no-margin):not(:last-child) {
    margin-bottom: 8px;
}

.ui-input-box.margin-top,
.ui-form-container.margin-top {
    margin-top: 15px;
}

.ui-input-box.margin-bottom,
.ui-form-container.margin-bottom {
    margin-bottom: 15px;
}

.ui-form-container.center {
    justify-content: center;
}

.ui-form-container.right {
    justify-content: flex-end;

    width: 100%;
}

.ui-form-container.between {
    justify-content: space-between;
}

.ui-form-container ul {
    margin: 8px 0 0 0;   
}

.ui-logs-container > .info-message > i {
    margin-right: 4px;

    color: hsl(0, 0%, 25%);
    font-size: 14px;
}

.ui-form-spacer {
    height: 18px;
}

.ui-input-box {
    position: relative;
    width: 100%;
}

/* Text */
.ui-text {
    color: hsl(0, 0%, 10%);
    font-family: "Open sans", sans-serif;
    font-size: 14px;    
}

.ui-text.small {
    font-size: 12px;
}

.ui-text.gray,
.ui-text .gray {
    color: hsl(0, 0%, 45%);
}

/* Bold */
b.ui-text,
.ui-text.b,
.ui-text b {
    font-weight: 600;
}

/* Italics */
.ui-text.i {
    font-style: italic;
}

a.ui-text[href],
.ui-text a[href] {
    color: var(--color-blue3);
    text-decoration: none;

    transition: 0.1s;
}

a.ui-text[href]:hover,
.ui-text a[href]:hover {
    text-decoration: underline;
}

a.ui-text[href]:focus:not(:hover),
.ui-text a[href]:focus:not(:hover) {
    padding: 0 4px;

    outline: none;
    background-color: var(--color-blue2-transparent-1);
    border-radius: 3px;
}

/* Popups input boxes */
.ui-input-box > .popup {
    position: absolute;
    z-index: 1;

    bottom: 0;
    margin-bottom: -40px;

    box-sizing: border-box;

    width: 100%;

    padding: 8px 12px;

    color: rgba(255, 255, 255, 0.92);
    font-size: 12px;

    border-radius: 5px;
    background-color: var(--color-red);

    box-shadow: 0 2px 5px rgba(232, 32, 0, 0.25);

    transition: 0.2s;

    /* Hidden state */
    pointer-events: none;
    opacity: 0;
    
    transform: translateY(5px);
}

.ui-input-box > .popup::before {
    position: absolute;
    left: 50%;
    top: -5px;

    margin-left: -5px;

    display: block;
    content: '';

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--color-red);
}

.ui-input-box > .popup.shown {
    pointer-events: all;
    opacity: 1;
    
    transform: translateY(0);
}

/* Checkboxes */
.ui-checkbox-1 {
    display: flex;
    align-items: center;

    width: fit-content;

    cursor: pointer;
}

.ui-checkbox-1 > .checkbox {
    margin: 4px 8px 4px 0;
    
    width: 20px;
    height: 20px;
    
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;

    transition: 0.2s;
}

.ui-checkbox-1.small > .checkbox {
    width: 15px;
    height: 15px;
}

.ui-checkbox-1.small > .text {
    font-size: 12px;
}

.ui-checkbox-1.disabled {
    pointer-events: none;
}

.ui-checkbox-1.disabled > .checkbox {
    border: 1px solid rgb(190, 190, 190) !important;
    background-color: rgb(190, 190, 190) !important;
}

.ui-checkbox-1:hover > .checkbox {
    border: 1px solid rgb(140, 140, 140);
}

.ui-checkbox-1[data-checked=true] > .checkbox > .check path {
    fill: #fff;
}

.ui-checkbox-1[data-checked=true] > .checkbox {
    border: 1px solid var(--color-blue2);
    background-color: var(--color-blue2);
}

.ui-checkbox-1[data-checked=true]:hover > .checkbox {
    border: 1px solid hsl(228, 100%, 55%);
    background-color: hsl(228, 100%, 55%);
}

.ui-checkbox-1 > .text {
    font-size: 14px;
}

/* Array input */
.ui-input-array1 {
    position: relative;
    display: flex;

    overflow: hidden;
    cursor: text;

    width: 100%;
    min-height: 33px;

    box-sizing: border-box;

    padding: 6px;

    background-color: white;

    box-shadow: inset 0 0 0 1px var(--color-gray4);
    border-radius: 3px;
}

.ui-input-array1[disabled],
.ui-input-array1.disabled {
    pointer-events: none;

    background-color: var(--color-gray);
    filter: grayscale(1);
}

.ui-input-array1 > input {
    min-width: 180px;

    margin-right: 64px;

    outline: none;
    border: 0;

    background-color: transparent;
}

.ui-input-array1 > .items {
    display: flex;
    flex-wrap: wrap;
}

.ui-input-array1 > .items > div {
    margin-right: 5px;
    padding: 2px 6px;

    user-select: none;

    cursor: pointer;
    white-space: nowrap;

    font-size: 12.5px;

    border-radius: 3px;

    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-1);

    transition: 0.1s;
}

.ui-input-array1 > .items > div::before {
    display: inline;
    content: '';

    font-family: monospace;
}

.ui-input-array1 > .items > div:hover::before {
    content: '-';
}

.ui-input-array1 > .items > div:hover {
    color: var(--color-red);
    background-color: var(--color-red-transparent-1);

    opacity: 0.75;
}

.ui-input-array1 > .buttons {
    position: absolute;
    height: 33px;

    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid var(--color-gray3);
    border-bottom: 1px solid var(--color-gray3);

    margin-left: 4px;
}

.ui-input-array1 > .buttons > div {
    box-sizing: border-box;

    width: 32px;
    padding: 11px;

    cursor: pointer;

    color: var(--color-blue);

    transition: 0.1s;
}

.ui-input-array1 > .buttons > div > i {
    font-size: 10px;
}

.ui-input-array1 > .buttons > div.red {
    color: var(--color-red);
}

.ui-input-array1 > .buttons > div:hover {
    background-color: var(--color-blue2-transparent-1);
}

.ui-input-array1 > .buttons > div.red:hover {
    background-color: var(--color-red-transparent-1);
}

/* Dropdown */
.ui-input-dropdown1 {
    position: relative;

    width: 100%;

    box-shadow: inset 0 0 0 1px var(--color-gray4);
    border-radius: 3px;
 
    transition: 0.15s;
}

.ui-input-dropdown1:hover {
    background-color: rgb(252, 252, 252);
    box-shadow: inset 0 0 0 1px var(--color-gray5);
}

.ui-input-dropdown1[data-open="true"] {
    border-radius: 3px 3px 0 0;
}

.ui-input-dropdown1 > .arrow-icon {
    position: absolute;

    top: 0;
    right: 0;

    margin: 11px 12px 0 0;

    pointer-events: none;

    font-size: 12px;
    color: hsl(0, 0%, 30%);

    transition: 0.15s;
}

.ui-input-dropdown1:hover > .arrow-icon {
    transform: translateY(1px);
}

.ui-input-dropdown1[data-open="true"] > .arrow-icon {
    transform: rotate(-180deg) !important;
}

.ui-input-dropdown1 > input {
    box-sizing: border-box;
    
    height: 32px;
    width: 100%;
    
    padding: 7px 11px;
    
    cursor: pointer;
    
    color: black;
    font-family: "Open Sans";
    font-size: 13px;
    
    border: 0;
    background-color: transparent;
}

.ui-input-dropdown1 > .choices {
    position: absolute;
    z-index: 99999;

    overflow: hidden;

    display: none; /* Hidden state */
    flex-direction: column;

    overflow-y: auto;

    width: calc(100% - 2px);
    max-height: 50vh;

    background-color: white;

    border: 1px solid var(--color-gray4);
    border-radius: 0 0 3px 3px;
    border-top: 0;

    box-shadow: 0 4px 10px rgba(0,0,0,0.025);
}

.ui-input-dropdown1[data-open="true"] > .choices {
    display: flex;
}

.ui-input-dropdown1 > .choices > .text {
    position: absolute;

    top: 0;
    right: 0;

    padding: 8px 10px;

    font-size: 12px;

    opacity: 0.7;
}

.ui-input-dropdown1 > .choices > .text > i {
    margin-right: 3px;
}

.ui-input-dropdown1 > .choices > .choice {
    padding: 7px 10px;

    cursor: pointer;

    transition: 0.15s;
}

.ui-input-dropdown1 > .choices > .choice:hover {
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-05);
}

.ui-input-dropdown1 > .choices > .choice[data-selected="true"] {
    font-weight: 600;

    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-1);
}

/* .ui-input-dropdown1 > .choices > .choice[data-selected="true"]:hover {
    color: var(--color-red);
    background-color: var(--color-red-transparent-05);
} */

/* Inputs */
.ui-input1 {
    outline: none;

    width: 100%;

    border: 0;
    border-radius: 3px;

    box-shadow: inset 0 0 0 1px var(--color-gray4);

    padding: 7px 11px;

    font-family: "Open Sans";
    font-size: 13px;

    transition: 0.2s;
}

.ui-input1[disabled],
.ui-input1.disabled {
    background-color: var(--color-gray2);

    pointer-events: none;
}

.ui-input1.small {
    padding: 5px 8px;

    font-size: 12px;
}

.ui-input1.monospace {
    font-family: monospace;
}

.ui-input1[data-invalid=true],
.ui-input1.small[data-invalid=true]:focus {
    box-shadow: inset 0 0 0 1px var(--color-red);
}

.ui-input1:focus {
    box-shadow: inset 0 0 0 2px var(--color-blue);
}

.ui-input1.small:focus {
    box-shadow: inset 0 0 0 1px var(--color-blue);
}

.ui-input1[data-invalid=true]:focus {
    box-shadow: inset 0 0 0 2px var(--color-red);
}

/* Names for input boxes */
.ui-input-name1 {
    margin: 0 0 2px 2px;

    word-break: break-word;

    color: hsl(0, 0%, 55%);
    font-size: 12px;
    font-weight: 400;
}

/* Buttons */
.ui-button1 {
    padding: 8px 13px;

    border: 0;
    border-radius: 3px;

    background-color: white;
    box-shadow: 0 0 4px 0 rgb(215, 215, 215);

    outline: none;

    user-select: none;
    cursor: pointer;

    color: hsl(0, 0%, 20%);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 13px;

    transition: 0.1s;
}

.ui-button1 > i.far,
.ui-button1 > i.fas {
    font-size: 12px;
    margin-right: 4px;
}

.ui-button1 > i.far.r,
.ui-button1 > i.fas.r {
    margin-right: 0px;
    margin-left: 4px;
}

.ui-button1.s-small {
    padding: 5px 10px;

    font-weight: 500;
    font-size: 12px;
}

.ui-button1:hover {
    color: hsl(0, 0%, 5%);

    background-color: rgb(242, 242, 242);
    box-shadow: 0 0 0px 0 rgb(220, 220, 220);
}

.ui-button1:active {
    transition: 0s;

    background-color: rgb(220, 220, 220);
}

.ui-button1.disabled {
    pointer-events: none;

    color: hsl(0, 0%, 50%);

    background-color: rgb(250, 250, 250);
    box-shadow: none;
}

.ui-button1.toggled {
    color: rgba(255, 255, 255, 0.975);

    box-shadow: 0 0 0 1px var(--color-blue2);
    background-color: var(--color-blue2);
}

.ui-button1.toggled:focus,
.ui-button1.toggled:hover {
    box-shadow: 0 0 0 1px hsl(228, 100%, 55%);
    background-color: hsl(228, 100%, 55%);
}

/* Types */
.ui-button1.t-frameless {
    box-shadow: none;
    background-color: transparent;
}

.ui-button1.t-frameless:focus,
.ui-button1.t-frameless:hover {
    box-shadow: 0 0 0 1px rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
}

.ui-button1.t-frameless:active {
    box-shadow: 0 0 0 1px rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
}

.ui-button1.t-frameless.disabled {
    color: hsl(0, 0%, 50%) !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Additional styles */
.ui-button1.c-blue {
    color: var(--color-blue-lighter);
}

.ui-button1.c-blue.t-frameless:focus,
.ui-button1.c-blue.t-frameless:hover {
    box-shadow: 0 0 0 1px var(--color-blue2-transparent-1);
    background-color: var(--color-blue2-transparent-1);
}

.ui-button1.c-blue.t-frameless:active {
    box-shadow: 0 0 0 1px var(--color-blue2-transparent-2);
    background-color: var(--color-blue2-transparent-2);
}

.ui-button1.c-red.t-frameless:focus,
.ui-button1.c-red.t-frameless:hover {
    box-shadow: 0 0 0 1px var(--color-red-transparent-1);
    background-color: var(--color-red-transparent-1);
}

.ui-button1.c-red.t-frameless:active {
    box-shadow: 0 0 0 1px var(--color-red-transparent-2);
    background-color: var(--color-red-transparent-2);
}

.ui-button1.c-red {
    color: var(--color-red);
}

.ui-button1.low-emp {
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-1);
}

/* Log item */
.ui-log-item {
    position: relative;

    box-sizing: border-box;

    width: 100%;
    padding: 3px 8px;

    overflow: hidden;
    cursor: pointer;

    color: hsl(0, 0%, 10%);
    font-size: 14px;

    border-left: 0px solid var(--color-blue-lighter);

    transition: border-left 0.15s;
}

.ui-log-item.selected {
    background-color: var(--color-blue2-transparent-05) !important;
    border-left: 4px solid var(--color-blue-lighter) !important;
}

.ui-log-item:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.025);
}

.ui-log-item.selected:hover {
    background-color: var(--color-blue2-transparent-1) !important;
}

.ui-log-item .time {
    display: inline-flex;
    align-items: center;

    padding: 4px 9px;
    
    cursor: help;

    color: hsl(0, 0%, 35%);
    font-size: 12px;

    background-color: rgba(0,0,0,0.025);
    border-radius: 4px;
}

.ui-log-item .time > i {
    margin-right: 5px;
}

.ui-log-item:hover .time {
    background-color: rgba(0,0,0,0.05);
}

.ui-log-item.selected .time {
    color: var(--color-blue2);
    background-color: var(--color-blue2-transparent-05);
}

.ui-log-item a[href]:visited,
.ui-log-item a[href] {
    color: var(--color-blue2);

    text-decoration: none;
    font-weight: 600;
}

.ui-log-item a[href]:hover {
    text-decoration: underline;
}

.ui-log-item code {
    font-family: "Roboto Mono", monospace;
}

.ui-log-item code + code {
    margin-inline-start: 6px;
}

.ui-log-item .summary {
    color: hsl(0, 0%, 40%);
    font-family: "Roboto", sans-serif;
}