.page-system-login > .main-title {
    color: hsl(0, 0%, 15%);
    font-size: 32px;
    font-weight: 800;

    text-align: center;
}

.page-system-login > .middle-container {
    box-sizing: border-box;
    padding: 25px;

    width: 400px;

    margin: 50px auto;
}

.page-system-login > .middle-container > .logo-container {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.page-system-login > .middle-container > .logo-container > .logo-image {
    max-width: 75%;
}

.page-system-login > .middle-container > .page.hidden {
    display: none;
}

.page-system-login > .middle-container > .page .license-notice{
    margin: 22px 0;
}

#systempage-login-apiresponse-login {
    padding: 8px 12px;
    margin: 15px 0;

    color: var(--color-red);
    font-size: 12px;
    font-weight: 600;

    border-radius: 3px;
    background-color: var(--color-red-transparent-1);
}

#systempage-login-apiresponse-login:empty {
    visibility: hidden;
}

.page-system-login > .middle-container > .page > form .ui-form-spacer {
    height: 2px;
}

.page-system-login > .middle-container > .page > form .buttons > button {
    margin: 8px 0;
}

.page-system-login > .middle-container > .page > form .ui-input-box {
    margin: 15px 0;
}

#popupid-login-f2acheck .login-button {
    margin-bottom: 14px;
    margin-top: 20px
}

#popupid-login-f2acheck .otp-input {
    display: block;
    
    width: 75%;
    margin: 22px auto;
    padding: 12px 16px;

    color: var(--color-blue3);
    text-align: center;
    font-weight: 600;
    font-size: 24px;

    background-color: var(--color-blue2-transparent-05);
    box-shadow: 0 2px 10px 0 rgba(23, 68, 255, 0.07);
    border: 1px solid rgba(23, 68, 255, 0.08);
}

#popupid-login-f2acheck .otp-input:focus {
    background-color: var(--color-blue2-transparent-1);
    box-shadow: 0 2px 5px 0 rgba(23, 68, 255, 0.1);
    border: 1px solid rgba(23, 68, 255, 0.12);
}

#popupid-login-f2acheck .otp-input::placeholder {
    font-size: 18px;
    color: rgba(23, 68, 255, 0.4);
}

.page-system-login > .bottom-text {
    text-align: center;

    font-size: 12px;
}