.page-system-login > .main-title {
    color: hsl(0, 0%, 15%);
    font-size: 32px;
    font-weight: 800;

    text-align: center;
}

.page-system-login > .middle-container {
    box-sizing: border-box;
    padding: 25px;

    width: 400px;

    margin: 50px auto;
}

.page-system-login > .middle-container > .logo-container {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.page-system-login > .middle-container > .logo-container > .logo-image {
    max-width: 75%;
}

.page-system-login > .middle-container > .page.hidden {
    display: none;
}

.page-system-login > .middle-container > .page .license-notice{
    margin: 22px 0;
}

#systempage-login-apiresponse-login {
    padding: 8px 12px;
    margin: 15px 0;

    color: var(--color-red);
    font-size: 12px;
    font-weight: 600;

    border-radius: 3px;
    background-color: var(--color-red-transparent-1);
}

#systempage-login-apiresponse-login:empty {
    visibility: hidden;
}

.page-system-login > .middle-container > .page > form .ui-form-spacer {
    height: 2px;
}

.page-system-login > .middle-container > .page > form .buttons > button {
    margin: 8px 0;
}

.page-system-login > .middle-container > .page > form .ui-input-box {
    margin: 15px 0;
}

.page-system-login > .bottom-text {
    text-align: center;

    font-size: 12px;
}